@using SecureAppCommon;
@model List<FileDetail>;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 3 | Simple Tables</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Toastr -->
	<link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- /.modal -->

		<div class="modal fade" id="modal-info">
			<div class="modal-dialog">
				<div class="modal-content bg-info">
					<div class="modal-header">
						<h4 class="modal-title">Check your mail for password</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- Navbar -->
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="margin-left: 0;">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-10">
							<h1>Uploaded Files</h1>
						</div>
						<div class="col-sm-2">
							<a href="@Url.Action("Upload", "Home")" class="btn btn-primary">Upload</a>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<!-- /.col -->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									@*<h3 class="card-title">Simple Full Width Table</h3>*@

									<div class="card-tools">
										@*<ul class="pagination pagination-sm float-right">
												<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
											</ul>*@
									</div>
								</div>
								<!-- /.card-header -->
								<div class="card-body p-0">
									<table class="table">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th>FileName</th>
												<th>FilePath</th>
												<th>Uploaded Date</th>
											</tr>
										</thead>
										<tbody>
											@for (int i = 0; i < Model.Count; i++)
											{
												<tr>
													<td>@(i + 1)</td>
													<td>@Model[i].FileName</td>
													<td>@Model[i].FilePath</td>
													<td>@Model[i].UploadedDate</td>
													<td>
														<a style="cursor:pointer" data-filename="@Model[i].FileName" class="fileuploaded" href="#">
															<i class="fileuploaded fa fa-file-pdf fa-2x"
															   style="color:#b10e0e;cursor:pointer" aria-hidden="true"></i>
														</a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- /.row -->
					<!-- /.row -->
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="float-right d-none d-sm-block">
				<b>Version</b> 3.0.3-pre
			</div>
			<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
			reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="../../plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Toastr -->
	<script src="../../plugins/toastr/toastr.min.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
</body>
</html>
<script>
	$(".fileuploaded").click(function (e) {
		//antonytodo send email from here
		e.preventDefault();
		$("#modal-info").modal('show')

		var fileName = $(this).data("filename");
		setTimeout(() => {
			window.location.href = '../AppData/' + fileName;
		}, 3000)



	});
</script>